
h1, h2, h3 {
    display: inline-block;
    font-size: 50px;
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: underline;
    margin: 10px auto;
    background-color: rgb(192, 169, 127);
    
}

body {
    background-color: wheat;
}


p, li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    padding: 8px;
    margin-left: 20px;
    text-align: center;
}

img {
    width: 360px;
    height: 360px;
    display: block;
    margin: auto;
    border: solid white 10px;
    border-radius: 10px;
    
}

#cook {
    display: block;
    margin-top: auto;
    height: 400px;
    width: 400px;
}

ul, ol {
    text-align: center;
}

a {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 50px;
    padding: 8px;
    text-align: center;
}

span{
    display: block;
    margin-bottom: 20px;
    text-align: center;
}

.button {
    display: inline-block;
    background-color: rgb(233, 203, 167);
    border: 5px dotted black;
    border-radius: 5px;

}
.button:hover {
    background-color: beige;
    cursor: pointer;
    border: 5px dotted white;
}

#Odin {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    
}
.odin1 {
    margin: auto;
}